{% extends 'base.html' %}
{% block content %}
        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <!-- container starts -->
            <div class="container-fluid">
				
                <!-- row -->
				<div class="element-area">
					<div class="demo-view">
						<div class="container-fluid pt-0 ps-0 pe-lg-4 pe-0">
							<div class="row">
					<!-- Column starts -->
                    <div class="col-xl-12">
                        <div class="card dz-card" id="bootstrap-table5">
                            <div class="card-header flex-wrap d-flex justify-content-between  border-0">
								<div>
                                	<h4 class="card-title">Xodimlar malumoti</h4>
								</div>
							</div>
                           	<!-- tab-content -->	
							<div class="tab-content" id="myTabContent-4">
								<div class="tab-pane fade show active" id="leftPosition" role="tabpanel" aria-labelledby="home-tab-4">
									<a href="{% url 'createstaff' %}"><button class="btn btn-success">Qoshish</button></a>
									<div class="card-body pt-0">
										
										<div class="table-responsive">
											
											<table class="table table-bordered table-responsive-sm">
												
												<thead>
													<tr>
														<th>#</th>
														<th>Ism Familiya</th>
                                                        <th>Yoshi</th>
														<th>Telefon</th>
														<th>Ishi</th>
														<th>Harakat</th>
													</tr>
												</thead>
												<tbody>
													{% for staff in staffes %}
													<tr>
														<th>{{forloop.counter}}</th>
														<td>{{staff.l_name }} {{ staff.f_name }}</td>
                                                        <td>{{staff.age}}</td>
														<td>{{staff.number}}</td>
														<td>{{staff.position.name}}</td>
														
														<td><a href="{% url 'staffupdate' staff.id %}" class="btn btn-primary"><i class="fa fa-cogs" aria-hidden="true"></i> Yangilash</a>
                                                            <a href="{% url 'staffdelete' staff.id %}" class="btn btn-danger"><i class="fa fa-trash"></i> O'chirish</a></td>
													</tr>
													{% endfor %}
												</tbody>
											</table>
										</div>
									</div>
								</div>
							
						</div>
							<!-- /tab-content -->		
                           
                        </div>
                    </div>
                    <!-- Column ends -->
					
				</div>
					</div>
				</div>			
            </div>
    </div>
{% endblock %}